APP_ENV=dev
APP_NAME=InvoxelAI GST OCR
SECRET_KEY=super-secret-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

DB_HOST=postgres
DB_PORT=5432
DB_NAME=invoxel
DB_USER=invoxel
DB_PASSWORD=invoxel

CORS_ORIGINS=["http://localhost:3000"]
UPLOAD_DIR=uploads
MAX_UPLOAD_MB=15

PADDLE_USE_GPU=false
OCR_LANGS=en,hi
